<!DOCTYPE html>
{% load cms_tags sekizai_tags %}
{% load staticfiles %}
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<title>NOVA Web Development</title>

<link href="{{ STATIC_URL }}css/global.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}css/generic.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}css/responsiveslides.css" rel="stylesheet" type="text/css">
{% render_block "css" %}
</head>

<body>
{% cms_toolbar %}

<div class="wrapper">
		
        <div class="logoblock">
    		<img src="{{ STATIC_URL }}images/nwd_logo_clear.png">

 			<nav>
        		<h2><a href="/">Home</a></h2>
		  		<h2><a href="/about/">Who We Are</a></h2>
          		<!--<h2><a href="staff.html">Staff</a></h2>-->
		  		<h2><a href="/services/">What We Do</a></h2>
                <h2><a href="/portfolio/">Portfolio</a></h2>
         		<h2><a href="/contact/">Contact Us</a></h2>
  			</nav>
            
		</div>
        {% block base_content %}{% endblock %}
        {% render_block "js" %}
</div>

<footer>
	
    <div class="footernav">
    
    	<ul>
        	<li><h2><a href="/">Home</a></h2></li>
	  		<li><h2><a href="/about/">Who We Are</a></h2></li>
          	<!--<li><h2><a href="staff.html">Staff</a></h2></li>-->
		  	<li><h2><a href="/services/">What We Do</a></h2></li>
                <li><h2><a href="/portfolio/">Portfolio</a></h2></li>
         	<li><h2><a href="/contact/">Contact Us</a></h2></li>
            <li><h2><a href="/">NOVA Web Development © 2014<h2></h2></a></h2></li><a href="/">
         </a></ul><a href="/">	 
   
  	</a></div><a href="/">
	
</a></footer><a href="/">
</a></div><a href="/">


</a></body></html>
